<!-- ---
--- -->
<!-- <div transition:animate="slide" class="nav-links"> -->
<div  class="nav-links">
  <a href="/">Home</a>
  <!-- force a full browser reload -->
  <a href="/about/" data-astro-reload>About</a>
  <a href="/blog/">Blog</a>
  <a href="/tags/">Tags</a>
</div>